extends layout

block content
  div(class='container')
    h1(class='text-center') #{title}

    form(method='POST')
      div(class="row mb-3").form-group
        label(for='name' class="col-sm-2 col-form-label") Name:
        input#name.form-control(type='text', placeholder='Everyone, Teen, Mature, ect.' name='name' required value=(undefined===rating ? '' : rating.name) )
      div(class="row mb-3").form-group
        label(for='acronym' class="col-sm-2 col-form-label") Acronym:
        input#acronym.form-control(type='text', placeholder='E, T, M, ect.' name='acronym' required value=(undefined===rating ? '' : rating.acronym) )
      div(class="row mb-3").form-group
        label(for='desc' class="col-sm-2 col-form-label") Description:
        input#desc.form-control(type='text', placeholder='Description of the rating, i.e. "Suitable for Ages 7 and Up"' name='desc' required value=(undefined===rating ? '' : rating.desc) )    
      button.btn.btn-primary(type='submit') Submit

    if errors
      ul
        for error in errors
          li!= error.msg
