extends layout

block content
  div(class='container')
    h1(class='text-center') #{title}

    form(method='POST')
      div(class="row mb-3").form-group
        label(for='name' class="col-sm-2 col-form-label") Name of Genre:
        input#name.form-control(type='text', placeholder='Sports, FPS, ect.' name='name' required value=(undefined===genre ? '' : genre.name) )
      button.btn.btn-primary(type='submit') Submit

    if errors
      ul
        for error in errors
          li!= error.msg
