extends layout 

block content 
    h1= title
    if platform_list.length 
        ul
            each platform in platform_list 
                li
                    a(href=platform.url) #{platform.name}
                    p by #{platform.developer.name}
    
    else
        p There are no platforms in database.